<%= render "shared/header" %>
<main>
  <div class="wrapper">
    <div class="user_profile">
      <div class="page_title">
        <h2>基本情報</h2>
        <%= link_to  "編集する", edit_user_registration_path(current_user.id), class: "edit_profile_btn" %>
      </div>
      <div class="registration_details">
        <ul>
          <li>nickname:   <%= @user.nickname %></li>
          <li>mail:    <%= @user.email %></li>
          <li>password:   <%= "*********" %></li>
          <li><%= image_tag(current_user.user_image, class: "user_profile_image") %></li>
        </ul>
      </div>
    </div>
  </div>
</main>
  
<%= render "shared/footer.html.erb" %>

