<%= render "shared/header" %>
<main>
  <div class="wrapper">
    <div class="user_profile">
      <div class="page_title">
        <h2>基本情報</h2>
        <%= link_to  "編集する", edit_user_registration_path(current_user.id), class: "edit_profile_btn" %>
      </div>
      <div class="registration_details">
        <ul>
          <li>nickname:   <%= @user.nickname %></li>
          <li>mail:       <%= @user.email %></li>
          <li>password:   <%= "*********" %></li>
        <% if current_user.profile.present? %>
          <li><%= @user.profile %></li>
        <% else %>
          <li>プロフィール情報は入力されていません</li>
        <% end %>
        <% if current_user.user_image.present? %>
          <li><%= image_tag(current_user.user_image, class: "user_profile_image") %></li>
        <% else %>
          <li><%= image_tag("noimage_human.png") %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
    
  <div class="top-page-title">
    <h2><%= current_user.nickname %>さんの投稿一覧</h2>
  </div>

  <div id="container" class="wrapper">
    <div class="main-bar">
      <% @current_user_outputs.each do |output| %>
        <article>
          <h2 class="article-title"><%= output.title %></h2>
          <ul class="meta">
            <li><%= output.post_date %></li>
            <li><%= output.genre.name %></li>
          </ul>
          <% if output.output_image.present?%>
            <%= image_tag(output.output_image) %> 
          <% else %>
            画像はありません
          <% end %>
          <div class="detail-text">
            <textarea name="" id="" cols="100" rows="10"><%= output.detail %></textarea>
          </div>
          <div class="read-more">
          <% if current_user.id == output.user.id %>
            <%= link_to "投稿を編集する", edit_output_path(output.id), method: :get, class: "edit_profile_btn"%>
            <%= link_to "投稿を削除する", output_path(output.id), method: :delete, class: "delete_btn", data: {confirm: "削除しますか？"} %>
          <% else %>
            <%= link_to "READ MORE", "#" %>
          <% end %>
          </div>
        </article>
      <% end %>
    </div>
  </div>

</main>
  
<%= render "shared/footer.html.erb" %>

