<%= render "shared/header" %>

<main>
<div class="form_wrapper">
  <h3>出品情報</h3>
  <p class="not-edit">※このページでは編集はできません</p>
  <%= form_with model: [@output, @item], local: true do |form| %>
    <%= render 'shared/error_messages', model: form.object %>
    <div class="form_flex">
      <div class="form_item">
        <%= form.label :item_name, "商品名" %>
        <%= form.text_field :item_name, placeholder: "商品名", readonly: true %>
      </div>
      <div class="form_item">
        <%= form.label :item_detail, "商品内容" %>
        <%= form.text_area :item_detail, placeholder: "商品内容", rows: "10", readonly: true %>
      </div>
      <div class="form_item">
        <%= form.label :price, "出品金額" %>
        <%= form.text_field :price, placeholder: "例）1200", readonly: true%>
      </div>
      <div class="form_item">
         <%= link_to "出品情報を編集する", edit_output_item_path(params[:id]), class: "edit_profile_btn"%>
      </div>
    </div>
  <% end %>
</div>
</main>

<%= render "shared/footer.html.erb" %>
