<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>OutPut_Tree</title>
    <meta name="description" content="OutPut_Tree">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="/Users/admin/projects/OutPut_Tree/app/assets/stylesheets/outputs/index.css">
  </head>

  <body>
    <header id="header">
      <h1 class="site-title wrapper"><a href="#"><%= image_tag("tree_icon.png", size: '50x50') %>OutPut_Tree</a></h1>
      <nav id="navi">
        <% if user_signed_in?  %>
          <div class="user_nav grid-6">
            <span><%= current_user.nickname %>
              <ul class="user__info">
                <li>
                  <%= link_to "マイページ", "/users/#{current_user.id}"  %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              </ul>  
            </span>
            <%= link_to "投稿する", new_output_path, class: "post" %>
          </div>
        <% else %>
          <div class="user_nav grid-6">
          <%= link_to "ログイン", new_user_session_path, class: "post" %>
          <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </nav>
    </header>
    
    <div id="pickup" class="wrapper">
      <article>
        <img src="img/pickup1.jpg" alt="テキストテキスト">
        <h2 class="sample-text">タイトルテキストタイトルテキストタイトルテキストタイトルテキスト</h2>
        <div class="read-more">
          <a href="#">READ MORE</a>
        </div>
      </article>

      <article>
        <img src="img/pickup2.jpg" alt="テキストテキスト">
        <h2 class="sample-text">タイトルテキストタイトルテキストタイトルテキストタイトルテキスト</h2>
        <div class="read-more">
          <a href="#">READ MORE</a>
        </div>
      </article>

      <article>
        <img src="img/pickup3.jpg" alt="テキストテキスト">
        <h2 class="sample-text">タイトルテキストタイトルテキストタイトルテキストタイトルテキスト</h2>
        <div class="read-more">
          <a href="#">READ MORE</a>
        </div>
      </article>
    </div>

      <div id="container" class="wrapper">
        <main>
          <article>
            <h2 class="article-title">タイトルテキストテキストテキストテキストテキスト</h2>
            <ul class="meta">
              <li><a href="#">2020/01/01</a></li>
              <li><a href="#">カテゴリ1</a></li>
            </ul>
            <a href="#"><img src="img/main1.jpg" alt="テキストテキスト"></a>
            <p class="main-text">本文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <div class="read-more">
              <a href="#">READ MORE</a>
            </div>
          </article>

          <article>
            <h2 class="article-title">タイトルテキストテキストテキストテキストテキスト</h2>
            <ul class="meta">
              <li><a href="#">2020/01/01</a></li>
              <li><a href="#">カテゴリ1</a></li>
            </ul>
            <a href="#"><img src="img/main2.jpg" alt="テキストテキスト"></a>
            <p class="main-text">本文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <div class="read-more">
              <a href="#">READ MORE</a>
            </div>
          </article>

          <article>
            <h2 class="article-title">タイトルテキストテキストテキストテキストテキスト</h2>
            <ul class="meta">
              <li><a href="#">2020/01/01</a></li>
              <li><a href="#">カテゴリ1</a></li>
            </ul>
            <a href="#"><img src="img/main3.jpg" alt="テキストテキスト"></a>
            <p class="main-text">本文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <div class="read-more">
              <a href="#">READ MORE</a>
            </div>
          </article>
        </main>

        <aside id="sidebar">
          <section class="author">
            <%= image_tag("profile_test.jpg") %>
            <h3 class="right-h3">Name Name</h3>
            <p class="profile">プロフィールテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          </section>

          <section class="ranking">
            <h3 class="right-h3">Ranking</h3>
            <article>
              <a href="#">
                <img src="img/ranking1.jpg" alt="">
                <h4 class="article-title">タイトルテキストテキストテキストテキストテキストテキスト</h4>
              </a>
            </article>

            <article>
              <a href="#">
                <img src="img/ranking1.jpg" alt="">
                <h4 class="article-title">タイトルテキストテキストテキストテキストテキストテキスト</h4>
              </a>
            </article>

            <article>
              <a href="#">
                <img src="img/ranking1.jpg" alt="">
                <h4 class="article-title">タイトルテキストテキストテキストテキストテキストテキスト</h4>
              </a>
            </article>
          </section>

          <section class="archive">
            <h3 class="right-h3">Archive</h3>
            <ul>
              <li><a href="#"> XXXX年XX月</a>（XX）</li>
              <li><a href="#"> XXXX年XX月</a>（XX）</li>
              <li><a href="#"> XXXX年XX月</a>（XX）</li>
              <li><a href="#"> XXXX年XX月</a>（XX）</li>
              <li><a href="#"> XXXX年XX月</a>（XX）</li>
              <li><a href="#"> XXXX年XX月</a>（XX）</li>
              <li><a href="#"> XXXX年XX月</a>（XX）</li>
              <li><a href="#"> XXXX年XX月</a>（XX）</li>
              <li><a href="#"> XXXX年XX月</a>（XX）</li>
              <li><a href="#"> XXXX年XX月</a>（XX）</li>
              <li><a href="#"> XXXX年XX月</a>（XX）</li>
              <li><a href="#"> XXXX年XX月</a>（XX）</li>
              <li><a href="#"> XXXX年XX月</a>（XX）</li>
              <li><a href="#"> XXXX年XX月</a>（XX）</li>
              <li><a href="#"> XXXX年XX月</a>（XX）</li>
            </ul>
          </section>
        </aside>
      </div>
      

    <footer id="footer">
      <div class="content wrapper">
        <section class="item">
          <h3 class="footer-h3">About</h3>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <ul class="about-li">
            <li><a href="#" class="arrow">プロフィール詳細</a></li>
            <li><a href="#" class="arrow">お仕事の依頼</a></li>
            <li><a href="#" class="arrow">お問い合わせ</a></li>
          </ul>
        </section>

        <section class="item">
          <h3 class="footer-h3">Menu</h3>
          <ul class="menu-li">
            <li><a href="#">NEW</a></li>
            <li><a href="#">CATEGORY</a></li>
            <li><a href="#">COLUMN</a></li>
            <li><a href="#">SERIES</a></li>
            <li><a href="#">Q&A</a></li>
          </ul>
        </section>

        <section class="item">
          <h3 class="footer-h3">Twitter</h3>
          <a class="twitter-timeline" data-height="315" href="https://twitter.com/TwitterJP?ref_src=twsrc%5Etfw">Tweets by TwitterJP</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </section>
      </div>
      
      <p class="copyright">&copy; Travel & Blog</p>
    </footer>
  </body>
</html>