<%= render "shared/header" %>


<main>
<div class="form_wrapper">
  <h3>投稿内容</h3>
  <%= form_with(model: @output, local: true) do |form| %>
    <%= render 'shared/error_messages', model: form.object %>
    <div class="form_flex">
      <div class="form_item">
        <%= form.label :title, "見出し" %>
        <%= form.text_field :title, placeholder: "タイトル" %>
      </div>
      <div class="form_item">
        <%= form.label :detail, "アウトプット内容" %>
        <%= form.text_area :detail, placeholder: "アウトプット内容の詳細・URlリンクなど", rows: "10" %>
      </div>
      <div class="form_item">
        <%= form.label :post_date, "投稿日" %>
        <%= form.date_field :post_date %>
      </div>
      <div class="form_item">
        <%= form.label :genre_id, "ジャンル" %>
        <%= form.date_field :genre_id %>
      </div>
      <div class="form_item">
        <%= form.submit "投稿する", class: "edit_profile_btn" %>
      </div>
    </div>
  <% end %>
</div>
</main>

<%= render "shared/footer.html.erb" %>

