<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>OutPutTree</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all'  %>
    <%= javascript_pack_tag 'application' %>
    <meta charset="utf-8">
    <meta name="description" content="OutPut_Tree">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/Users/admin/projects/OutPut_Tree/app/assets/images/tree_icon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  </head>

  <body>
    <%= yield %>
  </body>
